body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #2c2f3b;
}

.container {
  border: 10px solid rgb(0, 240, 240);
  width: 380px;
  height: 380px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-size: 35px;
  background: rgb(36, 37, 51);
  box-shadow: 0 0 12px rgba(0, 240, 240, 0.3), 0 0 12px rgba(0, 0, 0, 0.4) inset;
}

.date-container {
  margin-top: 16px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
}
